<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2 ">
            <div class="card">
                <div class="card-body">
                    <h3 class="titulo">Tarjeta de Credito</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">

    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h5 class="titulo">{{accion | uppercase}} TARJETA</h5>
                <form [formGroup]="form" (ngSubmit)="guardarTarjeta()">
                    <div class="form-group">
                        <div class="input-group input-group-lg mb-3">
                            <span class="input-group-text"><i class="fa-solid fa-user"
                                [class.green-icon]="this.form.get('titular')?.valid"
                                [class.red-icon]="this.form.get('titular')?.invalid && this.form.get('titular')?.touched"></i></span>
                            <input formControlName="titular" type="text" class="form-control" placeholder="Titular">
                        </div>
                        <div class="input-group input-group-lg mb-3">
                            <span class="input-group-text"><i class="fa-regular fa-credit-card"
                                [class.green-icon]="this.form.get('numeroTarjeta')?.valid"
                                [class.red-icon]="this.form.get('numeroTarjeta')?.invalid && this.form.get('numeroTarjeta')?.touched"></i></span>
                            <input formControlName="numeroTarjeta" type="text" maxlength="16" class="form-control" placeholder="Número de Tarjeta">
                        </div>
                        <div class="row">
                            <div class="col lg-7">
                                <div class="input-group input-group-lg mb-3">
                                    <span class="input-group-text"><i class="fa-solid fa-calendar"
                                        [class.green-icon]="this.form.get('fechaExpiracion')?.valid"
                                        [class.red-icon]="this.form.get('fechaExpiracion')?.invalid && this.form.get('fechaExpiracion')?.touched"></i></span>
                                    <input formControlName="fechaExpiracion" type="text" maxlength="5" class="form-control"
                                        placeholder="Fecha de Expiración">
                                </div>
                            </div>
                            <div class="col lg-5">
                                <div class="input-group input-group-lg mb-3">
                                    <span class="input-group-text"><i class="fa-solid fa-key"
                                        [class.green-icon]="this.form.get('CVV')?.valid"
                                        [class.red-icon]="this.form.get('CVV')?.invalid && this.form.get('CVV')?.touched"></i></span>
                                    <input formControlName="CVV" type="password" maxlength="3" class="form-control" placeholder="CVV">
                                </div>
                            </div>
                        </div>
                        <div class="d-grid gap-2">
                            <button [disabled]="this.form.invalid" type="submit" class="btn btn-success btn-lg">
                                <i class="fa-solid fa-database"></i>
                                ACEPTAR
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h5 class="titulo">LISTADO DE TARJETAS</h5>
                <table class="table table-striped">
                    <tbody *ngFor="let tarjeta of listTarjetas">
                        <tr>
                            <td>{{tarjeta.titular}}</td>
                            <td>{{tarjeta.numeroTarjeta}}</td>
                            <td>{{tarjeta.fechaExpiracion}}</td>
                            <td><i (click)="editarTarjeta(tarjeta)" class="fa-regular fa-pen-to-square text-info"></i></td>
                            <td><i (click)="eliminarTarjeta(tarjeta.id)" class="fa-regular fa-trash-can text-danger"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>